snippet mt "mod tests"
	#[cfg(test)]
	mod tests {
		use super::*;

		#[test]
		fn $1() {
			$2
		}
	}

snippet tt "test"
	#[test]
	fn $1() {
		$2
	}

snippet scope "scope"
	thread::scope(|s| {
		$1
	});

snippet fns "rust-fn-self"
	fn $1(&$2self$3) {
		$4
	}
